<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyTcp" version="4.0.0" targetFramework="net461" />
  <package id="GodSharp.NModbus" version="2021.10129.1808" targetFramework="net461" />
  <package id="NModbus" version="3.0.62" targetFramework="net461" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net461" />
</packages>